body {
    background-image: url(../Assets/Images/nigiri.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: cadetblue;
    background-blend-mode:hard-light;
    background-position-y: 3%;
}

#start-button {
    background-color: cadetblue;
    margin-top: 5%;
    border-radius: 7%;
    font-weight: bold;
    color: white;
}

.box {
    /* min-width: 75%; */
    min-height: 50vh;
}

.hidden {
    visibility: hidden;
}

.question {
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: black;
}

