body {
    background-image: url(../Assets/Images/asianbackground.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: auto;
    text-align: center;
    /* background-color: cadetblue; */
    /* background-blend-mode:hard-light; */
    /* background-position-y: 3%; */
}

.my-button {
    background-color: #85bb65;
    margin-top: 5px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    color: black;
    display: inline-block;
}

.box {
    /* min-width: 75%; */
    min-height: 50vh;
}

.hidden {
    visibility: hidden;
}

.question {
    text-align: center;
    font-weight: bold;
    color: white;
}


#high-score-box {
    border: solid;
    background-color: black;
}

.center {
    margin:auto;
}

.my-img {
    border-radius: 10px;
}